<header>
  <div class="logo">
    'hub
  </div>
  <form>
    <label for="search">Search</label>
    <input type="search" id="search">
  </form>
  <nav>
    <ul>
      <li><a href="#">Pull Requests</a></li>
      <li><a href="#">Issues</a></li>
      <li><a href="#">Gist</a></li>
    </ul>
  </nav>
</header>

{{outlet}}
